<div class="header">
  <div class="anahit--header">
    <a href="tel:6477166550" style="margin: 5%">
      <span> Phone: 647-716-6550 </span>
    </a>

    <img alt="Anahit Logo" class="anahitLogo" src="../../assets/anahit.jpeg" />

    <a href="mailto:davtyal_anahit@yahoo.com">
      <span>Email: davtyan_anahit&#64;yahoo.com</span>
    </a>
  </div>
  <div class="menu">
    <a href="#">Help</a>
    <a href="#">Exchange & Returns</a>
    <a href="#">Order Tracker</a>
    <a class="menu-link" (click)="openUserLoginDialog()" style="color: white"
      >Login/Register</a
    >
  </div>
</div>
