<div class="header">
  <div class="anahit--header">
    <a class="header-link" href="tel:6477166550" style="margin: 5%">
      Phone: 647-716-6550
    </a>

    <a
      ><img alt="Anahit Logo" class="anahitLogo" src="../../assets/anahit.jpeg"
    /></a>

    <a class="header-link" href="mailto:davtyal_anahit@yahoo.com">
      <span>Email: davtyan_anahit&#64;yahoo.com</span>
    </a>
  </div>
  <div class="menu">
    <a class="menu-link" href="#">Help</a>
    <a class="menu-link" href="#">Exchange & Returns</a>
    <a class="menu-link" href="#">Order Tracker</a>
    <a class="menu-link" (click)="openUserLoginDialog()" style="color: white"
      >Login/Register</a
    >
  </div>
</div>
