<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <header></header>
  <mat-card class="mat-typography">
    <div
      style="display: flex; justify-content: end"
      class="close"
      (click)="closeDialogButton()"
    ></div>
    <div (click)="openLoginDialog()">
      <i class="arrow left"> </i>
      <a style="font-size: 15px" class="login-arrow">Login </a>
    </div>

    <h1 style="text-align: center; padding-top: 5%">Register!</h1>
    <form>
      <label for="Username">Username:</label>
      <br />
      <mat-form-field>
        <input
          matInput
          placeholder="Username"
          type="text"
          id="Username"
          name="Username"
          minlength="5"
          required
          class="custom-placeholder"
          ngModel
          #username="ngModel"
          autocomplete="off"
        />
        <mat-error
          *ngIf="username.invalid && (username.dirty || username.touched)"
        >
          <i class="errorMessage" *ngIf="username.errors?.['required']"
            >Username is required.</i
          >
          <i *ngIf="username.errors?.['minlength']">
            Username must be at least 5 characters.
          </i>
        </mat-error>
      </mat-form-field>

      <br />
      <label for="Password">Password:</label>
      <br />
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          id="Password"
          required
          name="Password"
          minlength="6"
          class="custom-placeholder"
          ngModel
          #password="ngModel"
          autocomplete="off"
          (ngModelChange)="(password.value)"
        />
        <mat-error
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          <i class="errorMessage" *ngIf="password.errors?.['required']"
            >Password is required.</i
          >
          <i *ngIf="password.errors?.['minlength']">
            Password must be at least 6 characters.
          </i>
        </mat-error>
      </mat-form-field>
      <br />
      <label for="Email">Email:</label>
      <br />
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Email"
          id="Email"
          name="Email"
          required
          class="custom-placeholder"
          ngModel
          #email="ngModel"
          email
          autocomplete="off"
        />
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
          <i class="errorMessage" *ngIf="email.errors?.['required']"
            >Email is required.</i
          >
          <i *ngIf="email.errors?.['email']">
            Please enter a valid email address
          </i>
        </mat-error>
      </mat-form-field>
    </form>
    <mat-dialog-actions align="end" style="justify-content: end">
      <button
        type="submit"
        class="button"
        color="primary"
        style="border-radius: 10px"
      >
        Register
      </button>
    </mat-dialog-actions>
  </mat-card>
</html>
