<div class="map-view">
  <div id="map" style="height: 90%"></div>
  <span id="overlay">{{ neigborhoodName }} </span>
  <div style="overflow: scroll">
    <div class="mapTitle">
      Selected Communities<span *ngIf="numberOfPairs > 0">
        ({{ numberOfPairs }})
      </span>
    </div>
    <ul id="Token">
      <li
        class="tokenList"
        *ngFor="let item of communityTokens | keyvalue : keepOriginalOrder"
      >
        <a
          class="Close"
          id="tokenClose"
          (click)="deleteToken(item.key, item.value)"
          >×</a
        >
        {{ item.key }}
      </li>
    </ul>
  </div>
  <div class="mapButton" (click)="closeMapView(); selectToken(communityTokens)">
    Select
  </div>
</div>
<div class="overlay" (click)="closeMapView()">X</div>
