.ekart--search--product {
  margin: 20px auto;
  text-align: center;
}
.ekart-search-product-input {
  width: 40%;
  height: 5.5vh;
  padding: 1px 10px;
  outline: none;
  border-radius: 2px;
  background-color: #efefef;
  border: #28282b 1px solid;
}

.btn {
  padding: 5px 10px;
  border: none;
}
.btn-search {
  padding: 12px 30px;
  background-color: #28282b;
  color: #fff;
  cursor: pointer;
  height: 100px;
  top: 100px;
  margin-top: 50px;
}

.ekart-search-result-for {
  margin: 20px auto;
  padding: 10px 140px;
}

.mapView {
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
