<div class="ekart--search--product">
  <mat-form-field>
    <mat-select matNativeControl required [value]="optionValue">
      <mat-option *ngFor="let option of searchOptions" [value]="option">{{
        option
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <span>
    <input
      type="text"
      class="ekart-search-product-input"
      placeholder="Search"
      [(ngModel)]="searchText"
      (input)="onSearchTextChanged()"
      style="height: 50px"
    />
  </span>
  <span class="mapView" (click)="openMapView()">
    <img src="../../../assets/map-pin.png" style="width: 20px" />Select on map
  </span>

  <button class="btn btn-search">Search</button>
</div>
